<div class="login-container">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" id="login" class="login-form fade-in-effect in">
                <div class="login-header">
                    <a href="" class="logo">
                    </a>
                    <p>Dear user, log in to the User Management System</p>
                </div>
                <div class="login-body">
                    <form action="demo_form.asp">
                        Username/Email:
                        <input type="text" name="email">
                        <br> Password:
                        <input type="text" name="password">
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </form>
            <!-- External login -->
        </div>
    </div>
</div>
